/* Fonts */
/* Ruhl Regular */
@font-face {
  font-family: "Ruhl";
  src: url(/fonts/FrankRuhlLibre-Regular.ttf);
}
/* Ruhl Regular End */

/* Ruhl Medium */
@font-face {
  font-family: "Ruhl Medium";
  src: url(/fonts/FrankRuhlLibre-Medium.ttf);
}
/* Ruhl Medium End */

/* Vibes */
@font-face {
  font-family: "Vibes";
  src: url(/fonts/GreatVibes-Regular.ttf);
}
/* Vibes End */

/* Fonts End */

/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html {
  font-size: 62.5%;
  --header_size_1: calc(2rem + 1vw);
  --header_size_2: calc(3.5rem + 1vw);
  --header_size_3: calc(3rem + 1vw);
  --header_size_4_5: calc(2.4rem + 1vw);
  --paragraph_size: calc(1.5rem + 1vw);
  --big_text: var(--header_size_4_5);
  --special_color: #906272;
  --background_color: #414141;
  --text_color_gray: #525252;
}
body {
  font-family: "Ruhl", sans-serif;
  animation: startup 1s ease-in-out;
}
h1 {
  font-family: "Vibes", sans-serif;
  font-size: var(--header_size_1);
}
h2 {
  font-size: var(--header_size_2);
}
h3 {
  font-size: var(--header_size_3);
  font-weight: 400;
}
h4,
h5 {
  font-size: var(--header_size_4_5);
}
li,
button,
label,
input,
p,
a {
  font-size: var(--paragraph_size);
}
a {
  color: #000000;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Global Styles End*/

/* Helper Classes */
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Helper Classes End */

/* Header */
.main-header {
  position: relative; /*fixes the box shadow issue with backgrounds*/
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
}
/* Nav */
.main-header_nav {
  display: flex;
  align-items: center;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
/* Title */
.nav_title {
  flex: 3 1 30rem;
}
/* Title End */

/* Burger Check Mark */
.nav_burger-check-mark {
  display: none;
}
/* Burger Check Mark End */

/* Menu */
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 30rem;
}
/* Menu End */
/* Nav End */
/* Header End */

/* Main */
/* Intro */
.main-intro-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  text-align: center;
  overflow: hidden;
}

/* Wrapper  */
.main-intro-section_wrapper {
  flex: 2 1 40rem;
}

.wrapper_title {
  margin: 3rem;
}
.wrapper_text {
  margin: 5rem 10rem;
}
.wrapper_gallery-link {
  margin-bottom: 5rem;
  padding: 2rem 8rem;
  border: 3px solid black;
}
/* Wrapper End */

/* Ginger Woman */
.main-intro-section_ginger-woman {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
  position: relative;
  z-index: -1;
}
.ginger-woman_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/* Plant */
.plant {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  animation: plant-fade-in 1.5s ease-in-out,
  plant-shaking 1.5s ease-in-out infinite alternate 1.5s;
  transform-origin: bottom;
}
.plant1 {
  left: -20%;
}
.plant2 {
  right: -30%;
}
/* Plant End */
/* Ginger Woman End */
/* Intro End */

/* About Section */
.about-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}
/* Minimal */
.about-section_minimal {
  flex: 1 1 40rem;
  position: relative;
}
.minimal_title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 2rem;
}
.minimal_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Minimal End */

/* Info */
.about-section_info {
  flex: 2 1 40rem;
  justify-content: space-around;
  padding: 0 10rem;
  background-color: var(--background_color);
  color: white;
}
.info_title {
  font-family: "Vibes";
}
.life_title, .work_title {
  margin: 2rem 0;
  font-family: "Ruhl Medium";
}
/* Info End */
/* About Section End */

/* Gallery Section */
.gallery-section_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;
}
.gallery_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item1 {
  grid-column: 1/3;
}
.item2 {
  grid-column: 3/4;
  grid-row: 1/3;
}
/* Gallery Section End */
/* Main End */

/* Animation */
/* Startup */
@keyframes startup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Startup End */

/* Plant Fade In */
@keyframes plant-fade-in {
  from {
    transform: translateY(10%);
  }
  to {
    transform: translateY(0%);
  }
}
/* Plant Fade In End */

/* Plant Shaking */
@keyframes plant-shaking {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotate(-3deg);
  }
}
/* Plant Shaking End */
/* Animation End */

/* Media Queries */
@media screen and (max-width: 842px) {
  /* Header */
  /* Navigation */
  /* Menu */
  .nav_menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--background_color);
    transition: transform 0.5s ease;
    z-index: 3;
  }
  .menu_item a {
    font-size: var(--header_size_3);
    color: #ffffff;
    text-decoration: underline;
  }
  /* Burger Check Mark */
  .nav_burger-check-mark {
    display: block;
    position: fixed;
    right: 5%;
    width: 3rem;
    height: 3rem;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
  }

  .nav_burger-check-mark:checked + .nav_menu {
    transform: translate(-100%);
  }
  /* Burger Check Mark End */
  /* Menu End */

  /* Burger Bar */
  .burger_bar {
    position: relative;
    margin: 0.2rem;
    padding: 0.2rem 1.3rem;
    background-color: var(--text_color_gray);
    transition: all 0.5s ease;
    z-index: 9;
  }

  .nav_burger-check-mark:checked ~ .nav_burger .burger_bar {
    position: fixed;
    background-color: #ffffff;
    right: 5%;
  }

  .nav_burger-check-mark:checked ~ .nav_burger .burger_bar:first-child {
    transform: rotateZ(45deg);
  }

  .nav_burger-check-mark:checked ~ .nav_burger .burger_bar:nth-child(2) {
    opacity: 0;
  }

  .nav_burger-check-mark:checked ~ .nav_burger .burger_bar:last-child {
    transform: rotateZ(-45deg);
  }
  /* Burger Bar End */
  /* Navigation End */
  /* Header End */

  /* Intro Section */
  .main-intro-section {
    width: 100%;
  }
  .wrapper_text {
    margin: 5rem 1rem;
  }
  /* Intro Section End */

  /* About Section */
  /* Info */
  .about-section_info {
    padding: 2rem 1rem;
  }
  .info_life,
  .info_work {
    margin-top: 3rem;
  }
  /* Info End */
  /* About Section End */

  /* Gallery Section */
  .gallery-section_gallery {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  .gallery_item {
    grid-column: auto;
    grid-row: auto;

  }
  /* Gallery Section End */
}
/* Media Queries End */
