/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html {
  font-size: 62.5%;
  --header_size_1: calc(2rem + 1vw);
  --header_size_2: calc(3.5rem + 1vw);
  --header_size_3: calc(3rem + 1vw);
  --header_size_4_5: calc(2.4rem + 1vw);
  --paragraph_size: calc(1.5rem + 1vw);
  --big_text: var(--header_size_4_5);
  --special_color: #906272;
  --background_color: #414141;
  --text_color_gray: #525252;
}
h1 {
  font-size: var(--header_size_1);
}
h2 {
  font-size: var(--header_size_2);
}
h3 {
  font-size: var(--header_size_3);
  font-weight: 400;
}
h4,
h5 {
  font-size: var(--header_size_4_5);
}
li,
button,
label,
input,
p {
  font-size: var(--paragraph_size);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Global Styles End*/

/* Helper Classes */
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Helper Classes End */