/* Fonts */
/* Ruhl Regular */
@font-face {
  font-family: "Ruhl";
  src: url(/fonts/FrankRuhlLibre-Regular.ttf);
}
/* Ruhl Regular End */

/* Ruhl Medium */
@font-face {
  font-family: "Ruhl Medium";
  src: url(/fonts/FrankRuhlLibre-Medium.ttf);
}
/* Ruhl Medium End */

/* Vibes */
@font-face {
  font-family: "Vibes";
  src: url(/fonts/GreatVibes-Regular.ttf);
}
/* Vibes End */

/* Fonts End */

/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html {
  font-size: 62.5%;
  --header_size_1: calc(2rem + 1vw);
  --header_size_2: calc(3.5rem + 1vw);
  --header_size_3: calc(3rem + 1vw);
  --header_size_4_5: calc(2.4rem + 1vw);
  --paragraph_size: calc(1.5rem + 1vw);
  --big_text: var(--header_size_4_5);
  --special_color: #906272;
  --background_color: #414141;
  --text_color_gray: #525252;
}
body {
  font-family: "Ruhl", sans-serif;
}
h1 {
  font-family: "Vibes", sans-serif;
  font-size: var(--header_size_1);
}
h2 {
  font-size: var(--header_size_2);
}
h3 {
  font-size: var(--header_size_3);
  font-weight: 400;
}
h4,
h5 {
  font-size: var(--header_size_4_5);
}
li,
button,
label,
input,
p,
a {
  font-size: var(--paragraph_size);
}
a {
  color: #000000;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Global Styles End*/

/* Helper Classes */
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Helper Classes End */

/* Header */
.main-header {
  position: relative; /*fixes the box shadow issue with backgrounds*/
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
}
/* Nav */
.main-header_nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 10vh;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
/* Title */
.nav_title {
  flex: 3 1 30rem;
}
/* Title End */

/* Menu */
.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 30rem;
}
/* Menu End */
/* Nav End */
/* Header End */

/* Main */
.main-intro-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 90vh;
  width: 95%;
  margin: 0 0 0 auto;
  text-align: center;
}

.main-intro-section_wrapper {
  flex: 2 1 40rem;
}

.wrapper_title {
  margin: 3rem;
}
.wrapper_text {
  margin: 5rem 10rem;
}
.wrapper_gallery-link {
  margin-bottom: 5rem;
  padding: 2rem 8rem;
  border: 3px solid black;
}
.main-intro-section_ginger-woman {
  flex: 1 1 40rem;
  background: linear-gradient(#dad8dd, #dad1d4);
}
.ginger-woman_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Main End */
